<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.agzuniverse.agz.opensalve">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CampMgmtScreen"
            android:label="Camp Management"
            android:launchMode="singleTop"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CampAndCollectionScreenTheme" />
        <activity
            android:name=".CollectionCentreScreen"
            android:label="Collection Centre"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CampAndCollectionScreenTheme" />
        <activity
            android:name=".ListOfInhabitants"
            android:label="List of Inhabitants"
            android:parentActivityName=".CampMgmtScreen"
            android:screenOrientation="portrait"
            android:theme="@style/ListOfInhabitantsScreenTheme" />
        <activity
            android:name=".GetHelp"
            android:label="Get Help"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewsScreen"
            android:label="News and Announcements"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LocationPicker"
            android:label="Choose Location"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginScreen"
            android:label="Login"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>